<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章管理</title>
</head>
<body>
    <button type="button" id="btn-back">返回首页</button>
    <br>
    <button type="button" id="btn-create">新建文章</button>
    <table>
        <thead>
            <tr>
                <td>创建时间</td>
                <td>更新时间</td>
                <td>文章名称</td>
                <td>文章定位ID</td>
                <td>文章ID</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            #for(articleVo: articleVoList)
            <tr>
                <td>#(articleVo.createTime)</td>
                <td>#(articleVo.lastModifiedTime)</td>
                <td>#(articleVo.articleName)</td>
                <td>#(articleVo.articleIdLocator)</td>
                <td>#(articleVo.articleId)</td>
                <td>
                    <button class="btn-edit">编辑</button>
                    <button class="btn-delete">删除</button>
                </td>
            </tr>
            #end
        </tbody>
    </table>

    <!-- 此文件实际映射路径：/console/article/index.html -->
    <script type="text/javascript" src="../../mb-common.js"></script>
    <script type="text/javascript" src="../../jquery.min.js"></script>
    <script>
        (function () {

            let PageController = function () {
                this.$BtnBack = $("#btn-back");
                this.$BtnCreate = $("#btn-create");
                this.$BtnEdit = $(".btn-edit");
                this.$BtnDelete = $(".btn-delete");
            };

            PageController.prototype = {
                Initialize: function () {
                    return this;
                },
                BindEvent: function () {
                    let _this = this;
                    _this.$BtnBack.click(function () {
                        window.location.href = "../../console/index.html";
                    });
                    _this.$BtnCreate.click(function () {
                        window.location.href = "../../console/article/edit.html"
                    });
                    _this.$BtnEdit.click(function () {
                        window.location.href = "../../console/article/edit.html?articleId=" + $(this).parent().prev().html();
                    });
                    _this.$BtnDelete.click(function () {
                        $.ajax({
                            url: "../../console/article/delete",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({
                                articleId: $(this).parent().prev().html()
                            }),
                            success: _MB_defaultXHRSuccessHandler(function (result, status, xhr) {
                                alert("delete article success");
                                window.location.reload();
                            }),
                            error: _MB_defaultXHRErrorHandler
                        });
                    });
                    return this;
                }
            };

            new PageController().Initialize().BindEvent();

        })();
    </script>
</body>
</html>
