<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#(status)</title>
</head>
<body>
    <button type="button" id="btn-back">返回文章管理</button>

    <div>
        <label>标题</label>
        <input id="article-name" style="width: 500px;" value="#(articleName)">
    </div>
    <div>
        <label>英文标识</label>
        <input id="article-id-locator" style="width: 500px;" value="#(articleIdLocator)">
    </div>
    <div>
        <label>描述</label>
        <input id="article-description" style="width: 500px;" value="#(articleDescription)">
    </div>
    <div>
        <label>分类</label>
        <select id="select-category">
            #for(categoryVo: categoryVoList)
                <option value ="#(categoryVo.categoryId)">#(categoryVo.categoryName)</option>
            #end
        </select>
    </div>

    <div>
        <label>内容</label>
        <div id="standalone-container">
            <div id="toolbar-container">
                <span class="ql-formats">
                    <select class="ql-font"></select>
                    <select class="ql-size"></select>
                </span>
                <span class="ql-formats">
                    <button class="ql-bold"></button>
                    <button class="ql-italic"></button>
                    <button class="ql-underline"></button>
                    <button class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                    <select class="ql-color"></select>
                    <select class="ql-background"></select>
                </span>
                <span class="ql-formats">
                    <button class="ql-script" value="sub"></button>
                    <button class="ql-script" value="super"></button>
                </span>
                <span class="ql-formats">
                    <button class="ql-header" value="1"></button>
                    <button class="ql-header" value="2"></button>
                    <button class="ql-blockquote"></button>
                    <button class="ql-code-block"></button>
                </span>
                <span class="ql-formats">
                    <button class="ql-list" value="ordered"></button>
                    <button class="ql-list" value="bullet"></button>
                    <button class="ql-indent" value="-1"></button>
                    <button class="ql-indent" value="+1"></button>
                </span>
                <span class="ql-formats">
                    <button class="ql-direction" value="rtl"></button>
                    <select class="ql-align"></select>
                </span>
                <span class="ql-formats">
                    <button class="ql-link"></button>
                    <button class="ql-image"></button>
                    <button class="ql-video"></button>
                    <button class="ql-formula"></button>
                </span>
                <span class="ql-formats">
                    <button class="ql-clean"></button>
                </span>
            </div>
            <div id="editor-container"></div>
        </div>
    </div>

    <button type="button" id="btn-submit">提交</button>

    <div id="div-show"></div>

    <style>
        body > #standalone-container {
            margin: 50px auto;
            /*max-width: 1024px;*/
        }
        #editor-container {
            height: 512px;
        }
    </style>
    <!-- 此文件实际映射路径：/console/article/edit|new.html -->
    <script type="text/javascript" src="../../mb-common.js"></script>
    <script type="text/javascript" src="../../jquery.min.js"></script>
    <link rel="stylesheet" href="../../quill/highlight.default.min.css">
    <link rel="stylesheet" href="../../quill/katex.min.css">
    <link rel="stylesheet" href="../../quill/quill.core.css">
    <link rel="stylesheet" href="../../quill/quill.snow.css">
    <script type="text/javascript" src="../../quill/highlight.min.js"></script>
    <script type="text/javascript" src="../../quill/katex.min.js"></script>
    <script type="text/javascript" src="../../quill/quill.min.js"></script>
    <script>
        (function () {

            let PageController = function () {
                this.$BtnBack = $("#btn-back");
                this.$BtnSubmit = $("#btn-submit");
                this.$SelectCategory = $("#select-category");
                this.$ArticleName = $("#article-name");
                this.$ArticleIdLocator = $("#article-id-locator")
                this.$ArticleDescription = $("#article-description");
                this.quill = new Quill('#editor-container', {
                    modules: {
                        formula: true,
                        syntax: true,
                        toolbar: '#toolbar-container'
                    },
                    placeholder: 'Compose an epic...',
                    theme: 'snow'
                });
                // quill生成的html内容内部的字符串使用双引号
                this.quill.container.firstChild.innerHTML = '#(articleContent)';
                this.articleId = "#(articleId)";
                this.categoryId = "#(categoryId)";
                if (this.categoryId) {
                    this.$SelectCategory.val(this.categoryId);
                }
            };

            PageController.prototype = {
                Initialize: function () {
                    return this;
                },
                BindEvent: function () {
                    let _this = this;
                    _this.$BtnBack.click(function () {
                        window.location.href = "../../console/article/index.html";
                    });
                    _this.$BtnSubmit.click(function () {
                        $.ajax({
                            url: "../../console/article/edit",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({
                                articleId: _this.articleId,
                                categoryId: _this.$SelectCategory.val(),
                                articleName: _this.$ArticleName.val(),
                                articleContent: _this.quill.container.firstChild.innerHTML,
                                articleIdLocator: _this.$ArticleIdLocator.val(),
                                articleDescription: _this.$ArticleDescription.val()
                            }),
                            success: _MB_defaultXHRSuccessHandler(function (result, status, xhr) {
                                alert("create or update article success");
                                _this.$BtnBack.click();
                            }),
                            error: _MB_defaultXHRErrorHandler
                        });
                        $("#div-show").html(html);
                    });
                    return this;
                }
            };

            new PageController().Initialize().BindEvent();

        })();
    </script>
</body>
</html>