<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分类管理</title>
</head>
<body>
    <button type="button" id="btn-back">返回首页</button>
    <div>
        <button id="btn-reset">重置</button>
        <label>分类名称：</label>
        <input categoryId="" style="width: 200px;" id="input-category" />
        <button id="btn-submit">新建</button>
    </div>
    <table>
        <thead>
        <tr>
            <td>创建时间</td>
            <td>分类ID</td>
            <td>分类名称</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        #for(categoryVo: categoryVoList)
        <tr>
            <td>#(categoryVo.createTime)</td>
            <td>#(categoryVo.categoryId)</td>
            <td>
                <a categoryId="#(categoryVo.categoryId)" categoryName="#(categoryVo.createTime)" class="a-category-name" href="">
                    #(categoryVo.categoryName)
                </a>
            </td>
            <td></td>
        </tr>
        #end
        </tbody>
    </table>
    <!-- 此文件实际映射路径：/console/file/category.html -->
    <script type="text/javascript" src="../../mb-common.js"></script>
    <script type="text/javascript" src="../../webjars/webjar-jquery/3.5.1/dist/jquery.min.js"></script>
    <script>
        (function () {

            let FORM_STATE = {
                NEW: 0,
                UPDATE: 1
            }

            let PageController = function () {
                this.formState = FORM_STATE.NEW;
                this.$BtnBack = $("#btn-back");
                this.$BtnReset = $("#btn-reset");
                this.$InputCategory = $("#input-category");
                this.$ACategoryName = $(".a-category-name");
                this.$BtnSubmit = $("#btn-submit");
            };

            PageController.prototype = {
                Initialize: function () {
                    return this;
                },
                BindEvent: function () {
                    let _this = this;
                    _this.$BtnReset.click(function () {
                        _this.$InputCategory.attr("categoryId", "");
                        _this.$InputCategory.val("");
                        _this.formState = FORM_STATE.NEW;
                        _this.$BtnSubmit.text("新建");
                    });
                    _this.$BtnBack.click(function () {
                        window.location.href = "../index.html";
                    });
                    _this.$ACategoryName.click(function () {
                        let _categoryId = $(this).attr("categoryId");
                        let _categoryName = $(this).attr("categoryName");
                        _this.$InputCategory.attr("categoryId", _categoryId);
                        _this.$InputCategory.val(_categoryName);
                        _this.formState = FORM_STATE.UPDATE;
                        _this.$BtnSubmit.text("更新");
                        return false;
                    });
                    _this.$BtnSubmit.click(function () {
                        let formData = {
                            categoryId: _this.$InputCategory.attr("categoryId"),
                            categoryName: _this.$InputCategory.val()
                        }
                        let url = "";
                        switch (_this.formState) {
                            case FORM_STATE.NEW:
                                url = "../../console/category/create";
                                break;
                            case FORM_STATE.UPDATE:
                                url = "../../console/category/update";
                                break;
                        }
                        $.ajax({
                            url: url,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(formData),
                            success: _MB_defaultXHRSuccessHandler(function (result, status, xhr) {
                                _this.$BtnReset.click();
                                alert("create category success");
                                window.location.reload();
                            }),
                            error: _MB_defaultXHRErrorHandler
                        });
                    });
                    return this;
                }
            };

            new PageController().Initialize().BindEvent();

        })();
    </script>
</body>
</html>
