<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件管理</title>
</head>
<body>
    <button type="button" id="btn-back">返回首页</button>
    <p>
        <button id="btn-upload-ctl" type="button">上传</button>
    </p>
    <div hidden id="div-upload">
        <form id="form-upload">
            <input type="file" id="file000" name="file000" multiple="multiple">
        </form>
        <button type="button" id="btn-upload">保存</button>
    </div>
    <table>
        <thead>
            <tr>
                <td>文件名</td>
                <td>创建时间</td>
                <td>文件大小（Byte）</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            #for(fileVo: fileVoList)
                <tr>
                    <td>#(fileVo.fileName)</td>
                    <td>#(fileVo.createTime)</td>
                    <td>#(fileVo.fileByteSize)</td>
                    <td>
                        <a style="width: 200px;" href="../../console/file/download/#(fileVo.fileId)">下载</a>
                        <a style="width: 200px;" href="../../console/file/overview/#(fileVo.fileId)" target="_blank">预览</a>
                        <button class="btn-del" fileId="#(fileVo.fileId)" type="button">删除</button>
                    </td>
                </tr>
            #end
        </tbody>
    </table>
    <!-- 此文件实际映射路径：/console/file/index.html -->
    <script type="text/javascript" src="../../mb-common.js"></script>
    <script type="text/javascript" src="../../webjars/webjar-jquery/3.5.1/dist/jquery.min.js"></script>
    <script>
        (function () {

            let PageController = function () {
                this.$BtnBack = $("#btn-back");
                this.$BtnUpload = $("#btn-upload-ctl");
                this.$UploadDiv = $("#div-upload");
                this.$UploadForm = $("#form-upload");
                this.$UploadBtn = $("#btn-upload");
                this.$BtnDel = $(".btn-del");
            };

            PageController.prototype = {
                Initialize: function () {
                    return this;
                },
                BindEvent: function () {
                    let _this = this;
                    _this.$BtnBack.click(function () {
                        window.location.href = "../../console/index.html";
                    });
                    _this.$BtnUpload.click(function () {
                        _this.$UploadDiv.show();
                    });
                    _this.$UploadBtn.click(function () {
                        $.ajax({
                            url: "../../console/file/save",
                            type: 'POST',
                            data: new FormData(_this.$UploadForm[0]),
                            cache: false,
                            processData: false,
                            contentType: false,
                            success: _MB_defaultXHRSuccessHandler(function (result, status, xhr) {
                                alert("upload choosen files success.");
                                window.location.reload();
                            }),
                            error: _MB_defaultXHRErrorHandler
                        });
                    });
                    _this.$BtnDel.click(function () {
                        $.ajax({
                            url: "../../console/file/delete?fileId=" + $(this).attr("fileId"),
                            type: "POST",
                            success: _MB_defaultXHRSuccessHandler(function (result, status, xhr) {
                                alert("delete file success");
                                window.location.reload();
                            }),
                            error: _MB_defaultXHRErrorHandler
                        });
                    });
                    return this;
                }
            };

            new PageController().Initialize().BindEvent();

        })();
    </script>
</body>
</html>
