<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件管理</title>
</head>
<body>
    <p>
        <button id="btn-upload-ctl" type="button">上传</button>
    </p>
    <div hidden id="div-upload">
        <form id="form-upload">
            <input type="file" id="file000" name="file000" multiple="multiple">
        </form>
        <button type="button" id="btn-upload">保存</button>
    </div>
    <ul>
        #for(fileVo: fileVoList)
        <li>
            <label style="width: 200px;">#(fileVo.createTime)</label>
            <a style="width: 200px;" href="../console/file-manage/file-download/#(fileVo.fileId)">#(fileVo.fileName)</a>
            <button class="btn-del" fileId="#(fileVo.fileId)" type="button">删除</button>
        </li>
        #end
    </ul>
    <script type="text/javascript" src="../mb-common.js"></script>
    <script type="text/javascript" src="/webjars/webjar-jquery/3.5.1/dist/jquery.min.js"></script>
    <script>
        (function () {

            let PageController = function () {
                this.$BtnUpload = $("#btn-upload-ctl");
                this.$UploadDiv = $("#div-upload");
                this.$UploadForm = $("#form-upload");
                this.$UploadBtn = $("#btn-upload");
                this.$BtnDel = $(".btn-del");
            };

            PageController.prototype = {
                Initialize: function () {
                    /*$.ajax({
                        url: "../console/file-manage/listAll",
                        type: "GET",
                        dataType: "json",
                        success: _MB_defaultXHRSuccessHandler(function (result, status, xhr) {
                            console.log(result);
                        }),
                        error: _MB_defaultXHRErrorHandler
                    });*/
                    return this;
                },
                BindEvent: function () {
                    let _this = this;
                    _this.$BtnUpload.click(function () {
                        _this.$UploadDiv.show();
                    });
                    _this.$UploadBtn.click(function () {
                        $.ajax({
                            url: "/console/file-manage/save",
                            type: 'POST',
                            data: new FormData(_this.$UploadForm[0]),
                            cache: false,
                            processData: false,
                            contentType: false,
                            success: _MB_defaultXHRSuccessHandler(function (result, status, xhr) {
                                alert("upload choosen files success.");
                                window.location.reload();
                            }),
                            error: _MB_defaultXHRErrorHandler
                        });
                    });
                    _this.$BtnDel.click(function () {
                        $.ajax({
                            url: "../console/file-manage/delete?fileId=" + $(this).attr("fileId"),
                            type: "POST",
                            success: _MB_defaultXHRSuccessHandler(function (result, status, xhr) {
                                alert("delete file success");
                                window.location.reload();
                            }),
                            error: _MB_defaultXHRErrorHandler
                        });
                    });
                    return this;
                }
            };

            new PageController().Initialize().BindEvent();

        })();
    </script>
</body>
</html>
