<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签管理</title>
</head>
<body>
    <button type="button" id="btn-back">返回首页</button>
    <div>
        <button id="btn-reset">重置</button>
        <label>标签名称：</label>
        <input tagId="" style="width: 200px;" id="input-tag" />
        <button id="btn-submit">新建</button>
    </div>
    <table>
        <thead>
        <tr>
            <td>创建时间</td>
            <td>标签ID</td>
            <td>标签名称</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        #for(tagVo: tagVoList)
        <tr>
            <td>#(tagVo.createTime)</td>
            <td>#(tagVo.tagId)</td>
            <td>
                <a tagId="#(tagVo.tagId)" tagName="#(tagVo.tagName)" class="a-tag-name" href="">
                    #(tagVo.tagName)
                </a>
            </td>
            <td>
                <button tagId="#(tagVo.tagId)" class="btn-del">删除</button>
            </td>
        </tr>
        #end
        </tbody>
    </table>
    <!-- 此文件实际映射路径：/console/tag/index.html -->
    <script type="text/javascript" src="../../mb-common.js"></script>
    <script type="text/javascript" src="../../jquery.min.js"></script>
    <script>
        (function () {
    
            let FORM_STATE = {
                NEW: 0,
                UPDATE: 1
            }
    
            let PageController = function () {
                this.formState = FORM_STATE.NEW;
                this.$BtnBack = $("#btn-back");
                this.$BtnReset = $("#btn-reset");
                this.$InputTag = $("#input-tag");
                this.$ATagName = $(".a-tag-name");
                this.$BtnSubmit = $("#btn-submit");
                this.$BtnDel = $(".btn-del");
            };
    
            PageController.prototype = {
                Initialize: function () {
                    return this;
                },
                BindEvent: function () {
                    let _this = this;
                    _this.$BtnReset.click(function () {
                        _this.$InputTag.attr("tagId", "");
                        _this.$InputTag.val("");
                        _this.formState = FORM_STATE.NEW;
                        _this.$BtnSubmit.text("新建");
                    });
                    _this.$BtnBack.click(function () {
                        window.location.href = "../../console/index.html";
                    });
                    _this.$ATagName.click(function () {
                        let _tagId = $(this).attr("tagId");
                        let _tagName = $(this).attr("tagName");
                        _this.$InputTag.attr("tagId", _tagId);
                        _this.$InputTag.val(_tagName);
                        _this.formState = FORM_STATE.UPDATE;
                        _this.$BtnSubmit.text("更新");
                        return false;
                    });
                    _this.$BtnSubmit.click(function () {
                        let formData = {
                            tagId: _this.$InputTag.attr("tagId"),
                            tagName: _this.$InputTag.val()
                        }
                        let url = "";
                        switch (_this.formState) {
                            case FORM_STATE.NEW:
                                url = "../../console/tag/create";
                                break;
                            case FORM_STATE.UPDATE:
                                url = "../../console/tag/update";
                                break;
                        }
                        $.ajax({
                            url: url,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(formData),
                            success: _MB_defaultXHRSuccessHandler(function (result, status, xhr) {
                                _this.$BtnReset.click();
                                alert("create or update tag success");
                                window.location.reload();
                            }),
                            error: _MB_defaultXHRErrorHandler
                        });
                    });
                    _this.$BtnDel.click(function () {
                        $.ajax({
                            url: "../../console/tag/delete",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({
                                tagId: $(this).attr("tagId")
                            }),
                            success: _MB_defaultXHRSuccessHandler(function (result, status, xhr) {
                                alert("delete tag success");
                                window.location.reload();
                            }),
                            error: _MB_defaultXHRErrorHandler
                        });
                    });
                    return this;
                }
            };
    
            new PageController().Initialize().BindEvent();
    
        })();
    </script>
</body>
</html>
